<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <title>Dojo - Mutant Ninja</title>
    </head>
    <script>
        

    </script>
    <body>
        <div id="container">
            <header class="header_footer">
                <img src="{{ url_for('static', filename='Coding-Dojo-logo.png') }}">
                <h1>Flask Assignment - Ninjas</h1>
            </header>
            <main>
            	<div id="content">
                    <img src="{{ url_for('static', filename='tmnt.png') }}">
                    <div id=links>
                        <h4><a href="/ninja/blue">Leonardo</a></h4>
                        <h4><a href="/ninja/orange">Michelangelo</a></h4>
                        <h4><a href="/ninja/red">Raphael</a></h4>
                        <h4><a href="/ninja/purple">Donatello</a></h4>
                    </div>
				</div>
            </main>
            <footer class="header_footer">
                <h3>Katia Cavalcanti</h3>
            </footer>
        </div>
    </body>
</html>